header.full.logo .background-washout {background: rgba(255,255,255,0.2);}

/* Header Logo animation */
header.full.logo:hover .logo {transform: scale(0.95);}

header.full.logo .logo {transition: all 0.5s ease-in-out;}

header.full.logo:hover .background {
	filter: blur(8px);
	background-size: 117vw;
}

header.full.logo .background {
	animation: slide 90s ease-out infinite;
	background-size: 121vw;
	transition: all 0.5s ease-in-out; /*filter: blur(8px);*/
	transform: translateX(0vw) scale(1.2)
}



/* Header CSS Animation */
/* This is why we placed the background in a separate div - so that we can animate it with transform for subpixel animation (smoother)*/

@keyframes slide {
	0% {transform: translateX(0vw) scale(1.2); }
	50% {transform: translateX(20vw) scale(1.2); }
	100% {transform: translateX(0vw) scale(1.2); }
}
