* {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

body, html {
    margin: 0px !important;
}


.wrapper {
    margin: 0 auto;
}

/*Basic Layout*/
.wrapper {
    display: grid;
    /*CSS Grid for homepage (no sidebar*/
    grid-template-columns: 100%;
    grid-template-areas:
            "header"
            "hero"
            "content"
            "sidebar"
            "footer";
}

/*Layout for wider screens*/
@media (min-width: 500px) {
    .page-body {
        display: grid;
        /*CSS Grid for homepage (no sidebar*/
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "content    sidebar"
    }
}

/*Layout for homepage (without sidebar*/
.page-home .page-body {
    /*CSS Grid for homepage (no sidebar*/
    grid-template-columns: 1fr !important;
    grid-template-areas:
            "content";
}


.wrapper.page-home .sidebar {
    grid-area: none;
    display: none;
}

.menu {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
    color: #111;
    padding-top: 20px;
}

.splash {
    grid-area: hero;
    position: relative;
}

article {
    grid-area: content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
/*    border: 0px;
    border-right: 3px;
    border-color: #111;
    border-style: dashed;*/
    color: #111;
}

.page-body {
    width: 100%; 
    max-width: 900px; 
    margin: auto; 
}


.wrapper {
    font-family: sans-serif;
}

/*NAVIGATION*/

nav {
    background-color: #2196F3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: #1E88E5;
    border-top: 0px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    z-index: 100;
}

.wrapper nav {
    position: absolute;
    width: 100%;
    /* max-width: 750px; */
    background: rgba(0, 0, 0, 0.48);
    border: 0px;
    left: 0px;
    border-radius: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0));
    padding-bottom: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    /* background: rgba(255, 255, 255, 0.21); */
    margin-left: 0px !important;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.3);
}

nav a:active {
    background: rgba(255, 255, 255, 0.14);
}

nav a.active {
    background: rgba(255, 255, 255, 0.14);
}

/*SPLASH IMAGE*/
.splash {
/*    margin-left: -50vw;
    margin-right: -50vw;
*/    /*    padding-top: 100px;
    padding-bottom: 100px;
*/
    text-align: center;
    background: #CDDC39;
    background-image: url('https://source.unsplash.com/900x600?train');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.splash-content h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 0px;
}

.splash-content h2 {
    color: white;
    margin-top: 0px;
    font-size: 2em;
}

.splash .splash-content {
    background: rgba(0, 0, 0, 0.50);
    padding: 100px;
}

/*General-use*/

.theme-bg {
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*Article CSS*/
article > *:first-child {
    margin-top: 0px;
}


.feature-table {
    width: 100%;
    text-align: center;
    /* background: #8BC34A; */
}

.feature-table td {
    padding: 20px;
    /* color: white; */
    font-size: 1.5em;
    font-weight: 600;
    position: relative;
    top: 0px;
}

.feature-table td:hover {
    top: -10px;
}

.locomotive {
    display: table;
    width: 100%;

}

.locomotive .pic {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px;
}

.locomotive .pic:after {
    content: "";
    display: table;
    clear: both;
}

.locomotive h3 {
display: inline-block;
}

.locomotive p {
    
}